.container{
    height: 90vh;
    display: grid;
    grid-template:100px 100px 100px / 30fr 70fr;
    gap: 2rem;
}

.box{
    background: gold;
    justify-items: stretch;
}

.box-one{
    grid-column: 1/3;
    grid-row:2/5;
}