h1{
    margin-left: 1rem;
    font-weight: 600;
    font-size: 2rem;
}


li{
    list-style: none;
    display: flex;
    margin-left: 2rem;
    font-size: 1.2rem;
    padding-top: 1.6rem;
}


a{
    text-decoration: none;
}

a:link, a:visited{
    color: black;
}
a:hover{
    color:gray;

}

.main-img{
    width: 98vw;
    height: 80vh;
    justify-content: center;

}

.footer{
    background-color: black;
    height: 10vh;
    text-align: center ;
    color: white;
    padding: 10px;;
}



.navbar>nav{
    display: flex;
    justify-content: space-between;
    /* display flex usme lagta hai jo saath saath tags ho adjacent */
}


.same-line>.container img{

    width: 25vw;
    height: 38vh;
    display:flex;
    justify-content: center;
    margin: 3.5vw;
    
    
}

.same-line>.container>p{
    text-align: center;

}

ul{
    display: flex;
    justify-content: space-between;
}


.same-line{
    display: flex;
    margin-top: 1rem;
}

